@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

body > * {
    margin: 5px;
}

#canvas {
    display: none;
}

#image {
    width: 500px;
    height: auto;
    border: 5px solid white;
    display: none;
}

#ascii-image {
    font-family: monospace;
    white-space: pre;
    line-height: 0.5em;
}

#upload-image-button, #convert-button {
    font-family: "Roboto", sans-serif;
}
